<%- include("../partials/adminHeader") %>

        
    <section class="content-main">
        <div class="content-header">
            <div>
                <h2 class="content-title card-title">Products List</h2>
                <p>Lorem ipsum dolor sit amet.</p>
            </div>
            <div>
                <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                <a href="/admin/addproduct" class="btn btn-primary btn-sm rounded">Create new</a>
            </div>
        </div>
        <div class="card mb-4">
            <header class="card-header">
                <div class="row align-items-center">
                    <div class="col col-check flex-grow-0">
                        <div class="form-check ms-2">
                            <input class="form-check-input" type="checkbox" value="">
                        </div>
                    </div>
                    <div class="col-md-3 col-12 me-auto mb-md-0 mb-3">
                        <select class="form-select">
                            <option selected>All category</option>
                            <%for(i=data.length-1;i>=0;i--){%>
                                <option><%= data[i].category%></option>
                            <%}%>
                        </select>
                    </div>
                    
                </div>
            </header> <!-- card-header end// -->
            <div class="card-body">
                <% for (i=data.length-1;i>=0;i--) { %>
                <article class="itemlist">
                    <div class="row align-items-center">
                        <div class="col col-check flex-grow-0">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox">
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-4 col-8 flex-grow-1 col-name">
                            <a class="itemside" href="#">
                                <div class="left">
                                    <img src="/uploads/products/<%=data[i].images[0]%>" class="img-sm img-thumbnail" alt="Item">

                                </div>
                                <div class="info">
                                    <h6 class="mb-0"><%=data[i].name%></h6>
                                </div>
                            </a>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-price"> <span><%=data[i].salesPrice%></span> </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-status">
                            <span class="badge rounded-pill alert-success">Active</span>
                        </div>
                        <div class="col-lg-1 col-sm-2 col-4 col-date">
                            <span><%=data[i].unit%></span>
                        </div>
                        <div class="col-lg-2 col-sm-2 col-4 col-action text-end">
                            <a href="/admin/edit-product/<%=data[i]._id%>" class="btn btn-sm font-sm rounded btn-brand">
                                <i class="material-icons md-edit"></i> Edit
                            </a>

                            <%if(data[i].isListed==1){%>
                            <a id="<%=data[i]._id%>button" onclick="ListAndUnlistProduct('<%=data[i]._id%>')" class="btn btn-sm font-sm btn-light rounded">
                                Unlist
                            </a>
                            <%}else{%>
                                <a id="<%=data[i]._id%>button" onclick="ListAndUnlistProduct('<%=data[i]._id%>')" class="px-3 btn btn-sm font-sm btn-light rounded">
                                    List
                                </a>
                            <%}%>
                        </div>
                    </div> <!-- row .// -->
                </article> <!-- itemlist  .// -->
                <% } %>
                
            </div> <!-- card-body end// -->
        </div> <!-- card end// -->
    </section> <!-- content-main end// -->

        <%- include("../partials/adminFooter") %>