<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>VuePix</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon"
        href="https://blog.flamingtext.com/blog/2024/02/02/flamingtext_com_1706871147_110639469.png">
    <!-- Template CSS -->
    <link href="/asset/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="home" class="brand-wrap">
                <img src="https://blog.flamingtext.com/blog/2024/02/02/flamingtext_com_1706870062_110639468.png"
                    class="logo" alt="VuePix Logo">
                <!-- <img src="/asset/imgs/theme/VuePix.png" class="logo" alt="VuePix Logo"> -->
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item <%= locals.dashboard ? 'active': 'inactive '%>">
                    <a class="menu-link" href="home"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item <%= locals.userActive ? 'active': 'inactive '%>">
                    <a class="menu-link" href="usermanagement"> <i class="icon material-icons md-comment"></i>
                        <span class="text">User Management</span>
                    </a>
                </li>
                <li class="menu-item <%= locals.productActive ? 'active': 'inactive '%>">
                    <a class="menu-link" href="productList"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Product Management</span>
                    </a>
                </li>
                <li class="menu-item <%= locals.categoryActive ? 'active': 'inactive '%>">
                    <a class="menu-link" href="category"> <i class="icon material-icons md-map"></i>
                        <span class="text">Category Management</span>
                    </a>
                </li>
                <li class="menu-item <%= locals.orderActive ? 'active': 'inactive '%>">
                    <a class="menu-link" href="orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Order Management</span>
                    </a>
                </li>
                <li class="menu-item <%= locals.couponActive ? 'active': 'inactive '%>"">
                    <a class=" menu-link" href="coupon"> <i class="icon material-icons md-class"></i>
                    <span class="text">Coupon Management</span> </a>
                </li>

                <li class="menu-item <%= locals.salesActive ? 'active': 'inactive '%>"">
                    <a class=" menu-link" href="/admin/salesReport"> <i class="icon material-icons md-description"></i>
                    <span class="text">Sales Report</span> </a>
                </li>


        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search"></div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>

                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="/asset/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">

                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>