<%- include("../partials/userHeader") %>

    <style>
        .coupon-card {
            border: 2px solid #eaeaea;
            border-radius: 10px;
            padding: 15px;
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .coupon-name {
            font-size: 12px;
            font-weight: bold;
        }

        .use-button {
            background-color: #4caf50;
            color: #fff;
            border: none;
            padding: 8px 16px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }

        .use-button:hover {
            background-color: #45a049;
        }
    </style>



    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">


                <!-- Add your form tag with the appropriate action attribute -->

                <!-- Order Summary and Payment Column (Right Side) -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="order_review">
                            <div class="mb-20">
                                <h4>Your Orders</h4>
                            </div>



                            <div class="table-responsive order_table text-center">
                                <table class="table mt-40">
                                    <thead>
                                        <tr>
                                            <th>Image</th>
                                            <th>Product</th>
                                            <th>Quantity</th>
                                            <th>Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <% if (isSingle===true) { %>
                                            <% if (product && Array.isArray(product) && product.length> 0) { %>
                                                <% for (let i=0; i < product.length; i++) { %>
                                                    <tr>
                                                        <td class="image product-thumbnail"><img
                                                                src="/uploads/products/<%= product[i].images[0] %>"
                                                                alt="#"></td>
                                                        <td>
                                                            <h5><a href="shop-product-full.html">
                                                                    <%= product[i].name %>
                                                                </a></h5>
                                                        </td>
                                                        <td>

                                                            <p>1</p>

                                                        </td>
                                                        <td>
                                                            <%= product[i].salesPrice %>
                                                        </td>
                                                    </tr>
                                                    <% } %>
                                                        <% } else { %>
                                                            <tr>
                                                                <td colspan="4">No products found</td>
                                                            </tr>
                                                            <% } %>
                                                                <% }else{ %>


                                                                    <% if (data.length> 0) { %>

                                                                        <% for (let i=0; i < data.length; i++) { %>

                                                                            <tr>
                                                                                <td class="image product-thumbnail">
                                                                                    <img src="/uploads/products/<%= data[i].productDetails[0].images[0] %>"
                                                                                        alt="#" />
                                                                                </td>
                                                                                <td>
                                                                                    <h5>
                                                                                        <%= data[i].productDetails[0].name
                                                                                            %>
                                                                                    </h5>
                                                                                </td>
                                                                                <td>
                                                                                    <%= data[i].unit %>
                                                                                </td>
                                                                                <td>
                                                                                    ₹<span> <text>
                                                                                            <%= data[i].productDetails[0].salesPrice
                                                                                                * data[i].unit %>
                                                                                        </text>
                                                                                </td>
                                                                            </tr>


                                                                            <% } %>

                                                                                <% } %>


                                                                                    <% } %>
                                    </tbody>



                                    <% let totalAmount=0; %>


                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 mt-50 ">
                        <div class="payment_method">
                            <div class="mb-25 ml-150">
                                <h5>Payment</h5>
                            </div>
                            <div class="custome-radio ml-150">
                                <input class="form-check-input payment" type="radio" value="cod" name="payment_option"
                                    id="CashOnDelivey" checked="">
                                <label class="form-check-label" for="CashOnDelivey" data-bs-toggle="collapse"
                                    data-target="#CashOnDelivey" aria-controls="CashOnDelivey">Cash on
                                    Delivery</label>
                            </div>
                            <div class="custome-radio ml-150">
                                <input class="form-check-input payment" required="" value="wallet" type="radio"
                                    name="payment_option" id="wallet" checked="">
                                <label class="form-check-label" for="wallet" data-bs-toggle="collapse"
                                    data-target="#wallet" aria-controls="paypal">Wallet</label>
                            </div>
                            <div class="custome-radio ml-150">
                                <input class="form-check-input payment" required="" value="online" type="radio"
                                    name="payment_option" id="Razorpay" checked="">
                                <label class="form-check-label" for="Razorpay" data-bs-toggle="collapse"
                                    data-target="#Razorpay" aria-controls="paypal">Razorpay</label>
                            </div>

                            <br><br><br>



                            <div class="mb-25 ml-150 pt-40">
                                <h5>Available Coupons</h5>
                            </div>

                            <ul>
                                <% if (locals.coupons) { %>
                                    <% for (let i=0; i < coupons.length; i++) { %>
                                        <li>
                                            <div class="coupon-card col-4"
                                                style="margin-left: 150px; margin-top: 20px;">
                                                <div class="coupon-details">
                                                    <span class="coupon-name">
                                                        <%= coupons[i].name %>
                                                    </span><br>
                                                    <!-- Add other coupon details if needed -->
                                                </div>
                                                <input type="hidden" id="couponName" value="<%= coupons[i].name %>">
                                                <button onclick="useCoupon('<%= coupons[i].name %>')"
                                                    id="useButton_<%= coupons[i].name %>"
                                                    class="use-button">Use</button>
                                                <button onclick="cancelCoupon('<%= coupons[i].name %>')"
                                                    id="cancelButton_<%= coupons[i].name %>"
                                                    class="cancel-button btn-danger" style="display: none;"
                                                    value="<%= coupons[i].name %>">Cancel</button>

                                            </div>
                                        </li>

                                        <% } %>
                                            <% }else{ %>
                                                <div style="margin-left: 150px; margin-top: 20px;">
                                                    <h3>No coupons available</h3>
                                                </div>
                                                <% } %>
                            </ul>




                        </div>

                    </div>

                    <div class="container col-6 mt-3">

                        <% if (isSingle===true) { %>
                            <% totalAmount +=product[0].salesPrice; %>
                                <% }else{ %>

                                    <% for (let i=0; i < data.length; i++) { %>

                                        <% totalAmount +=data[i].productDetails[0].salesPrice * data[i].unit %>



                                            <% } %>


                                                <% } %>

                                                    <!-- Display total and shipping information outside the loop -->
                                                    <div class="ml-150">
                                                        <table class="table mt-45">
                                                            <tbody>
                                                                <tr>
                                                                    <th>Shipping</th>
                                                                    <td colspan="2"><em>₹ <%= shipping %></em></td>
                                                                </tr>
                                                                <tr>
                                                                    <th>Offers for All Products</th>
                                                                    <td colspan="2" class="product-subtotal">
                                                                        <span id="subOffers">
                                                                            <%= subOffers %>%
                                                                        </span>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th>
                                                                        <h5>Discount</h5>
                                                                    </th>
                                                                    <td id="discountCell">
                                                                        <h5>0</h5>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <th>Total for All Products</th>
                                                                    <td colspan="2" class="product-subtotal">
                                                                        <span class="font-xl text-brand fw-900"
                                                                            id="totalValue">
                                                                            <%= totalAmount+40 %>
                                                                        </span>
                                                                    </td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="ml-65">
                                                            <%if(isSingle===true){%>
                                                                <button type="button" class="btn"
                                                                    onclick="placeOrder('<%= user._id %>' , '<%=product[0]._id%>',  true)">Place
                                                                    order</button>
                                                                <%}else{%>


                                                                    <button type="button" class="btn"
                                                                        onclick="placeOrder('<%= user._id %>', [<% for (let i = 0; i < data.length; i++) { %>'<%= data[i].productDetails[0]._id %>'<% if (i < data.length - 1) { %>,<% } %><% } %>], false)">Place
                                                                        Order</button>


                                                                    <% } %>

                                                        </div>
                                                    </div>
                                                    <div class="input-group mb-3 col-2"
                                                        style="border: 1px solid #ced4da; border-radius: 5px; width: 300px; margin-left: 200px; margin-top: 60px;">
                                                        <input type="text" class="form-control" id="couponCode"
                                                            placeholder="Paste Coupon Name">
                                                        <div class="input-group-append">
                                                            <button class="btn btn-primary" type="button"
                                                                onclick="applyCoupon()">Apply</button>
                                                        </div>
                                                    </div>


                    </div>


                    <div class="col-8">
                        <div class="row align-items-start mt-30 ml-150">
                            <!-- Use align-items-start to vertically align content at the top -->
                            <% if (locals.userAddress) { %>
                                <% userAddress.address.forEach((address)=> { %>
                                    <div class="col-lg-6 mb-3">
                                        <div class="card">
                                            <div class="form-check">
                                                <input class="form-check-input" type="radio"
                                                    id="addressRadio<%= address._id %>" name="selectedAddress"
                                                    value="<%= address._id %>">
                                                <label class="form-check-label"
                                                    for="addressRadio<%= address._id %>">Select Address</label>
                                            </div>

                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <%= address.addressType %>
                                                </h5>
                                            </div>
                                            <div class="card-body">
                                                <!-- Add a radio button with a unique id for each address -->

                                                <address>
                                                    <%= address.name %><br />
                                                        <%= address.city %>,<br />
                                                            <%= address.landMark %> <br />
                                                                <%= address.state %>
                                                </address>
                                                <p>
                                                    <%= address.pincode %>
                                                </p>
                                                <p>
                                                    <%= address.phone %>
                                                </p>
                                                <p>
                                                    <%= address.altPhone %>
                                                </p>
                                                <div class="d-flex justify-content-between">
                                                    <a href="/editAddress?id=<%= address._id %>"
                                                        class="btn-small">Edit</a>
                                                    <a href="/deleteAddress?id=<%= address._id %>"
                                                        class="btn-small">Delete</a>
                                                </div>
                                            </div>
                                        </div>


                                    </div>
                                    <% }) %>
                                        <% } else { %>
                                            <div class="col-lg-6 mb-3">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h5 class="mb-0"></h5>
                                                    </div>
                                                    <div class="card-body">
                                                        <address>
                                                            No address
                                                        </address>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>
                                                <div class="card mb-3 mb-lg-0" style="margin-top: 20px;">
                                                    <button class="btn btn-sm btn-outline-secondary float-right"
                                                        style="width: 100%;" data-bs-toggle="modal"
                                                        data-bs-target="#exampleModal">Add New
                                                        Address</button>



                                                </div>
                        </div>
                    </div>






                </div>
            </div>
    </section>




    <!-- Modals  -->



    <div class="modal" id="exampleModal" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container  align-center">

                        <div class="row">
                            <div class="col">
                                <div class="mb-25">
                                    <h4>Add address</h4>
                                </div>
                                <form action="/addAddressCheout" method="post" onsubmit="return validateForm()">
                                    <div class="form-group">
                                        <input type="text" name="name" id="name" placeholder="First name *">
                                        <span id="nameError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" name="phone" id="phone"
                                            placeholder="10 digit mobile number *">
                                        <span id="phoneError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="pincode" id="pincode" placeholder="Pincode">
                                        <span id="pincodeError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <select name="addressType" id="addressType" class="form-control">
                                            <option value="">Select Address Type</option>
                                            <option value="work">work</option>
                                            <option value="home">home</option>
                                        </select>
                                        <span id="addressTypeError" class="error"></span>
                                    </div>

                                    <div class="form-group">
                                        <input type="text" name="state" id="state" placeholder="State">
                                        <span id="stateError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="city" id="city" placeholder="City ">
                                        <span id="cityError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="text" name="landMark" id="landmark" placeholder="Landmark*">
                                        <span id="landmarkError" class="error"></span>
                                    </div>
                                    <div class="form-group">
                                        <input type="tel" name="altPhone" id="alternatePhone"
                                            placeholder="Alternate phone option*">
                                        <span id="alternatePhoneError" class="error"></span>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-bs-dismiss="modal">Close</button>
                                        <button type="submit" class="btn btn-primary">Save Address</button>
                                    </div>
                                    <!-- <button class="button" id="button" >Save Address</button> -->
                                </form>

                                <style>
                                    .error {
                                        color: #dc3545;
                                        font-size: 0.875rem;
                                    }
                                </style>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script>
        async function placeOrder(userId, prodId, isSingle) {
            // alert(prodId)
            const discountCell = document.getElementById("discountCell");
            const h5Element = discountCell.querySelector("h5");
            const couponDiscount = h5Element.textContent;


            let address = $("input[name='selectedAddress']:checked").val();
            let payment = $("input[name='payment_option']:checked").val();

            const sum = document.getElementById("totalValue").textContent;
            const numericValue = parseInt(sum);
            console.log(numericValue);

            if (!payment) {
                Swal.fire({
                    title: 'NO PAYMENT FOUND!',
                    text: 'Please select your Payment.',
                    icon: 'error',
                    timer: 3000,
                });
            } else if (!address) {
                Swal.fire({
                    title: 'NO ADDRESS FOUND!',
                    text: 'Please select your address.',
                    icon: 'error',
                    timer: 3000,
                });
            } else if (payment=="cod" && numericValue>2000) {
                Swal.fire({
                    title: 'Total amount exceeds 2000.',
                    text: 'Please select another method',
                    icon: 'error',
                    timer: 3000,
                });
            } else {
                $.ajax({
                    url: '/orderPlaced',
                    method: 'POST',
                    data: {
                        addressId: address,
                        payment: payment,
                        productId: prodId,
                        couponDiscount: couponDiscount
                    },
                    success: function (response) {
                        if (response.method === "cod") {
                            Swal.fire({
                                title: "Order success",
                                text: "Order placed successfully",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 2000,
                            })
                            setTimeout(() => {
                                window.location.href = "/profile";
                            }, 700);
                        } else if (response.method === "online") {

                            let orderAmount = Math.round(numericValue * 100);
                            console.log("Responds : ", response.razorpayOrder.id, orderAmount);
                            console.log("Responds full : ", response);
                            var options = {
                                "key": "rzp_test_PQuoSyT1cgKHjg",
                                "amount": orderAmount,
                                "currency": "INR",
                                "name": "VuePix",
                                "description": "Test Transaction",
                                "image": "https://blog.flamingtext.com/blog/2024/02/02/flamingtext_com_1706871147_110639469.png",
                                "order_id": response.razorpayOrder.id,

                                "handler": function (status) {
                                    console.log(response.razorpayOrder, status);
                                    verifyPayment(response.razorpayOrder, status, response.razorpayOrder.id, response.orderId);
                                },
                                "prefill": {
                                    "name": "Customer Name",
                                    "email": "customer@example.com",
                                    "contact": "9000090000"
                                },
                                "theme": {
                                    "color": "#3399cc"
                                }
                            };

                            // Initialize Razorpay
                            var rzp1 = new Razorpay(options);
                            rzp1.open();

                            // Handle errors
                            rzp1.on('payment.failed', function (response) {
                                console.error('Payment failed:', response.error.code, response.error.description);
                            });
                        }

                        else if (response.method === "wallet") {

                            if (response.payment === true) {
                                Swal.fire({
                                    title: "Order success",
                                    text: "order placed successfully",
                                    icon: "success",
                                    showCancelButton: true,
                                    confirmButtonText: "view orders",
                                    cancelButtonText: "continue shopping",
                                    reverseButtons: true
                                }).then(function (result) {
                                    if (result.value) {
                                        location.href = '/profile';

                                    } else if (result.dismiss === "cancel") {
                                        location.href = '/VuePix'
                                    }
                                });

                            } else {

                                Swal.fire({
                                    title: "Order failed",
                                    text: "Wallet amount is not enough",
                                    icon: "error",
                                    showConfirmButton: true,
                                });
                            }
                        }
                    }
                })
            }
        }

        

        function verifyPayment(order, payment, id, orderId) {
            console.log(order)
            console.log("Payement : ", payment);

            $.ajax({
                url: '/verifyPayment',
                method: 'post',
                data: {
                    order,
                    payment,
                    orderId
                }, success: (response) => {
                    if (response.status) {
                        Swal.fire({
                            title: "Order success",
                            text: "order placed successfully",
                            icon: "success",
                            showCancelButton: true,
                            confirmButtonText: "view orders",
                            cancelButtonText: "continue shopping",
                            reverseButtons: true
                        }).then(function (result) {
                            if (result.value) {
                                location.href = '/profile';

                            } else if (result.dismiss === "cancel") {
                                location.href = '/VuePix'
                            }
                        });
                    }

                }
            })
        }




        function applyCoupon() {
            let couponCode = document.getElementById("couponCode").value
            if (!couponCode) {
                Swal.fire({
                    title: 'NO COUPON FOUND!',
                    text: 'Please enter the coupon code.',
                    icon: 'error',
                    timer: 3000,
                })
            } else {
                $.ajax({
                    url: '/applyCoupon',
                    method: "post",
                    data: {
                        code: couponCode
                    },
                    success: function (response) {
                        if (response.status === true) {
                            Swal.fire({
                                title: "COUPEN ADDED",
                                text: "Coupon added",
                                icon: "success",
                                showConfirmButton: false,
                                timer: 2000,
                            })
                            totalAmount = response.total;

                            document.getElementById("discountCell").innerHTML = `<h5>${response.discount}</h5>`;
                            document.getElementById("totalValue").innerHTML = `<span  id="total"  class="font-xl text-brand fw-900">${totalAmount}</span>`

                        } else if (response.used === true) {
                            Swal.fire({
                                title: 'COUPON ERROR!',
                                text: 'Coupon already used.',
                                icon: 'error',
                                timer: 3000,
                            })
                        } else if (response.status === false) {
                            Swal.fire({
                                title: 'COUPON ERROR!',
                                text: 'Coupon is not available',
                                icon: 'error',
                                timer: 3000,
                            })
                        }
                    }
                })
            }
        }




        function showCouponDetails(couponName) {
            Swal.fire({
                title: 'Coupon Details',
                text: `${couponName}`,
                icon: 'info',
                confirmButtonText: 'OK'
            }).then((result) => {
                if (result.isConfirmed) {
                    copyToClipboard(couponName);
                }
            });
        }

        function copyToClipboard(text) {
            var tempInput = document.createElement('input');
            document.body.appendChild(tempInput);
            tempInput.value = text;

            tempInput.select();
            document.execCommand('copy');

            document.body.removeChild(tempInput);

            Swal.fire({
                title: 'Copied!',
                text: 'Coupon name has been copied to the clipboard.',
                icon: 'success',
                confirmButtonText: 'OK'
            });
        }



        var usedCoupon = null;

        function useCoupon(couponName) {
            // Disable all other coupons
            disableOtherCoupons(couponName);

            // Show details for the used coupon
            showCouponDetails(couponName);

            // Show cancel button and hide use button for the used coupon
            document.getElementById('useButton_' + couponName).style.display = 'none';
            document.getElementById('cancelButton_' + couponName).style.display = 'block';

            usedCoupon = couponName;
        }



        function cancelCoupon(couponName) {
            // Enable all other coupons
            enableAllCoupons();

            // Hide cancel button and show use button for the canceled coupon
            document.getElementById('useButton_' + couponName).style.display = 'block';
            document.getElementById('cancelButton_' + couponName).style.display = 'none';

            usedCoupon = null;


            let coupon = document.getElementById("couponName").value;
            $.ajax({
                url: '/cancelCoupon',
                method: "post",
                data: {
                    code: coupon
                },
                success: function (response) {
                    if (response.status === true) {
                        Swal.fire({
                            title: "COUPEN REMOVE",
                            text: "Coupon removed",
                            icon: "success",
                            showConfirmButton: false,
                            timer: 2000,
                        })
                        totalAmount = response.total;
                        document.getElementById("discountCell").innerHTML = `<h5>${response.discount}</h5>`;
                        document.getElementById("totalValue").innerHTML = `<span  id="total"  class="font-xl text-brand fw-900">${totalAmount}</span>`

                    } else {
                        Swal.fire({
                            title: 'COUPON ERROR!',
                            text: 'Something wrong when cancel the coupon',
                            icon: 'error',
                            timer: 3000,
                        })
                    }
                }
            })
        }



        function disableOtherCoupons(excludeCoupon) {
            var couponButtons = document.querySelectorAll('.use-button, .cancel-button');
            couponButtons.forEach(function (button) {
                var couponName = button.id.replace('useButton_', '').replace('cancelButton_', '');
                if (couponName !== excludeCoupon) {
                    button.disabled = true;
                }
            });
        }

        function enableAllCoupons() {
            var couponButtons = document.querySelectorAll('.use-button, .cancel-button');
            couponButtons.forEach(function (button) {
                button.disabled = false;
            });
        }



        function validateForm() {
            const phoneRegex = /^\d{10}$/;
            const pincodeRegex = /^\d{6}$/;
            const name = document.getElementById('name').value;
            const phone = document.getElementById('phone').value;
            const pincode = document.getElementById('pincode').value;
            const addressType = document.getElementById('addressType').value;
            const address = document.getElementById('address').value;
            const state = document.getElementById('state').value;
            const city = document.getElementById('city').value;
            const landmark = document.getElementById('landmark').value;
            const alternatePhone = document.getElementById('alternatePhone').value;

            if (!name.trim()) {
                document.getElementById('nameError').innerHTML = "Please enter your first name";
                return false;
            } else {
                document.getElementById('nameError').innerHTML = "";
            }

            if (!phoneRegex.test(phone)) {
                document.getElementById('phoneError').innerHTML = "Please enter a valid 10 digit mobile number";
                return false;
            } else {
                document.getElementById('phoneError').innerHTML = "";
            }

            if (pincode && !pincodeRegex.test(pincode)) {
                document.getElementById('pincodeError').innerHTML = "Please enter a valid 6 digit pincode";
                return false;
            } else {
                document.getElementById('pincodeError').innerHTML = "";
            }

            if (!addressType) {
                document.getElementById('addressTypeError').innerHTML = "Please select an address type";
                return false;
            } else {
                document.getElementById('addressTypeError').innerHTML = "";
            }

            if (!address.trim()) {
                document.getElementById('addressError').innerHTML = "Please enter your address";
                return false;
            } else {
                document.getElementById('addressError').innerHTML = "";
            }

            if (!state.trim()) {
                document.getElementById('stateError').innerHTML = "Please enter your state";
                return false;
            } else {
                document.getElementById('stateError').innerHTML = "";
            }

            if (!city.trim()) {
                document.getElementById('cityError').innerHTML = "Please enter your city/district/town";
                return false;
            } else {
                document.getElementById('cityError').innerHTML = "";
            }

            if (!landmark.trim()) {
                document.getElementById('landmarkError').innerHTML = "Please enter a landmark";
                return false;
            } else {
                document.getElementById('landmarkError').innerHTML = "";
            }

            if (alternatePhone && !phoneRegex.test(alternatePhone)) {
                document.getElementById('alternatePhoneError').innerHTML = "Please enter a valid 10 digit alternate phone number";
                return false;
            } else {
                document.getElementById('alternatePhoneError').innerHTML = "";
            }

            return true; // Form submission allowed if all validations pass
        }

    </script>


    <%- include("../partials/userFooter") %>