<%- include("../partials/userHeader") %>


    <section class="mt-50 mb-50">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="product-detail accordion-detail">
                        <div class="row mb-50">
                            <div class="col-md-4 col-sm-12 col-xs-12">
                                <div class="detail-gallery">
                                    <span class="zoom-icon"><i class="fi-rs-search"></i></span>
                                    <!-- MAIN SLIDES -->
                                    <div class="product-image-slider">
                                        <% for (let i=0; i < data.images.length; i++) { %>
                                            <figure class="border-radius-10">
                                                <img src="/uploads/products/<%= data.images[i] %>" alt="product image">
                                            </figure>
                                            <% } %>

                                    </div>
                                    <!-- THUMBNAILS -->
                                    <div class="slider-nav-thumbnails pl-15 pr-15">
                                        <% for (let i=0; i < data.images.length; i++) { %>
                                            <div><img src="/uploads/products/<%= data.images[i] %>" alt="product image">
                                            </div>
                                            <% } %>
                                    </div>
                                </div>
                                <!-- End Gallery -->
                            </div>
                            <div class="col-md-8 col-sm-12 col-xs-12 align-items-center">
                                <div class="detail-info">
                                    <h2 class="title-detail">
                                        <%= data.name %>
                                    </h2>
                                    <div class="product-detail-rating">
                                        <div class="pro-details-brand">
                                            <!-- <span> Brands: <a href="shop-grid-right.html"></a></span> -->
                                        </div>
                                    </div>


                                    <div class="clearfix product-price-cover">
                                        <div class="product-price primary-color float-left">
                                            <ins><span class="text-brand">₹<%= data.salesPrice.toLocaleString('en-IN')
                                                        %>
                                                </span></ins>
                                            <ins><span class="old-price font-md ml-15">₹<%=
                                                        data.regularPrice.toLocaleString('en-IN') %>
                                                </span></ins>
                                            <span class="save-price  font-md color3 ml-15"><%-data.productOffer || data.categoryOffer %>%</span>
                                        </div>
                                    </div>
                                    <div class="bt-1 border-color-1 mt-15 mb-15"></div>
                                    <div class="short-desc mb-30">
                                        <p>
                                            <%= data.description %>
                                        </p>
                                    </div>
                                    <div class="product_sort_info font-xs mb-30">
                                        <ul>
                                            <li class="mb-10"><i class="fi-rs-crown mr-5"></i> 1 Year
                                                Manufacturer
                                                Warranty</li>
                                            <li class="mb-10"><i class="fi-rs-refresh mr-5"></i> 30 Day
                                                Return Policy
                                            </li>
                                            <li><i class="fi-rs-credit-card mr-5"></i> Cash on Delivery
                                                available</li>
                                        </ul>
                                    </div>
                                    <!-- <div class="attr-detail attr-color mb-15">
                                        <strong class="mr-10">Color</strong>
                                        <ul class="list-filter color-filter">
                                            <li><a href="#" data-color="Red"><span class="product-color-red"></span></a>
                                            </li>
                                            <li><a href="#" data-color="Yellow"><span
                                                        class="product-color-yellow"></span></a></li>
                                            <li class="active"><a href="#" data-color="White"><span
                                                        class="product-color-white"></span></a></li>
                                            <li><a href="#" data-color="Orange"><span
                                                        class="product-color-orange"></span></a></li>
                                            <li><a href="#" data-color="Cyan"><span
                                                        class="product-color-cyan"></span></a></li>
                                            <li><a href="#" data-color="Green"><span
                                                        class="product-color-green"></span></a></li>
                                            <li><a href="#" data-color="Purple"><span
                                                        class="product-color-purple"></span></a></li>
                                        </ul>
                                    </div> -->
                                    <!-- <div class="attr-detail attr-size">
                                        <strong class="mr-10">Size</strong>
                                        <ul class="list-filter size-filter font-small">
                                            <li><a href="#">S</a></li>
                                            <li class="active"><a href="#">M</a></li>
                                            <li><a href="#">L</a></li>
                                            <li><a href="#">XL</a></li>
                                            <li><a href="#">XXL</a></li>
                                        </ul>
                                    </div> -->
                                    <div class="bt-1 border-color-1 mt-30 mb-30"></div>
                                    <div class="detail-extralink">
                                        <!-- <div class="detail-qty border radius">
                                            <a href="#" class="qty-down"><i class="fi-rs-angle-small-down"></i></a>
                                            <span class="qty-val">1</span>
                                            <a href="#" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                        </div> -->
                                        <div class="product-extra-link2">

                                            <button type="submit"
                                                onclick="addToCart('<%=data.id%>', 1, '<%=data.unit%>')"
                                                class="button button-add-to-cart">Add to cart</button>

                                            <a aria-label="Add To Wishlist" class="action-btn hover-up"
                                                onclick="addToWishlist('<%= data._id %>')"><i class="fi-rs-heart"></i></a>

                                            <!-- <a aria-label="Compare" class="action-btn hover-up"
                                                href="shop-compare.html"><i class="fi-rs-shuffle"></i></a> -->
                                        </div>
                                    </div>
                                    <ul class="product-meta font-xs color-grey mt-50">
                                        <li class="mb-5">ID:  <%= Math.random().toString(36).substring(2, 15) %>
                                        </li>
                                        <li class="mb-5">Tags: Eyewear, <%= data.category %>
                                        </li>
                                        <li>Availability:<%if(data.unit<=0){%>
                                                <span class="text-danger ms-2">Out of stock</span>
                                                <%}else{%>
                                                    <span class="text-success"><i
                                                            class="fas fa-shopping-basket fa-sm mx-1"></i>
                                                        Items In Stock
                                                    </span>
                                                    <%}%>
                                        </li>
                                    </ul>
                                </div>
                                <!-- Detail Info -->
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 m-auto entry-main-content">
                                <h2 class="section-title style-1 mb-30">Description</h2>
                                <div class="description mb-50">
                                    <p>Geometrical shapes were key in the 1990s when glasses constructions became more
                                        daring and expressive. The Hexagonal frames are straight from the 90s and back
                                        in our hearts. Classic but never dull, retro but never out of touch. The RB3548N
                                        Hexagonal Flat Lens sunglasses are the perfect combination of a circle and a
                                        square shape. They feature thin coined profiles with super thin temples.
                                        Available in a variety of frame and lens combinations from silver to gunmetal
                                        frames and solid, gradient, or polarized lenses. Ray-Ban sunglasses sold by
                                        authorized sellers, like Amazon, are eligible for all manufacturer warranties
                                        and guarantees. Click on the Ray-Ban link above the product title to shop the
                                        entire Ray-Ban sunglass and eyeglass assortment.</p>
                                    <br>
                                    <p>100% UV PROTECTION: To protect your eyes from harmful UV rays, these sunglasses
                                        include lenses that are coated with 100% UV protection.
                                        MULTIPLE FRAME AND LENS COLOR: Choose from multiple frames colors—including
                                        gold, copper, and gunmetal—and lenses—including non-polarized, mirrored and
                                        gradient options. Made from high-quality glass, Ray-Ban lenses are prescription
                                        ready.
                                    </p>
                                    <ul class="product-more-infor mt-30">
                                        <li><span>Type Of Packing</span> Bottle</li>
                                        <li><span>Color</span> Green, Pink, Powder Blue, Purple</li>
                                        <li><span>Quantity Per Case</span> 100ml</li>
                                        <li><span>Ethyl Alcohol</span> 70%</li>
                                        <li><span>Piece In One</span> Carton</li>
                                    </ul>
                                    <hr class="wp-block-separator is-style-dots">
                                    <p>REDUCE EYE STRAIN: Ray-Ban Wayfarer sunglasses feature precision-cut,
                                        scratch-resistant glass lenses that improve visual clarity, and help reduce eye
                                        strain while outdoors.
                                        CASE & LENS CLOTH INCLUDED: Each pair of Ray-Ban sunglasses come with a case and
                                        lens cloth to clean and protect them from scratches and damage.
                                        MADE IN ITALY
                                        VISIT RAY-BAN BRAND SHOP: Click on the Ray-Ban logo above to view the entire
                                        Ray-Ban brand assortment.</p>

                                </div>


                            </div>
                        </div>







                        <!-- Relative products  -->

                        



                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script>

        function addToCart(proId, unit, stock) {
            // console.log(proId, stock);
            if (stock <= 0) {
                Swal.fire({
                    title: 'STOCK!',
                    text: 'Quantity exceed the unit the in cart.',
                    icon: 'error',
                    timer: 5000
                })
                return;
            }

            // const quantity = 1

            $.ajax({
                url: `/cart`,
                method: 'post',
                data: {
                    id: proId,
                    unit: unit,
                },
                success(response) {
                    if (response.added == true) {
                        Swal.fire({
                            title: 'CART',
                            text: 'Product ADDED TO CART.',
                            icon: 'success',
                            timer: 5000
                        })
                    } else if (response.added == false) {
                        Swal.fire({
                            title: 'STOCK!',
                            text: 'Product is out of stock.',
                            icon: 'error',
                            timer: 5000
                        })
                    } else {
                        location.href = '/login'
                    }
                }
            })
        }


        function addToWishlist(productId) {
            $.ajax({
                url: "/addToWishlist",
                method: "post",
                data: {
                    productId: productId
                },
                success: (response) => {
                    if (response.status == true) {
                        Swal.fire({
                            title: 'Added to Wishlist!',
                            text: 'Continue Shopping',
                            icon: 'success',
                            timer: 2000,
                            showConfirmButton: false
                        })
                    } else if (response.status == false) {
                        Swal.fire({
                            title: 'You need to Login first',
                            text: 'Continue Shopping',
                            icon: 'warning',
                            timer: 2000,
                            showConfirmButton: false
                        }).then(() => { window.location.href = '/login' });
                    }
                }
            })
            return false;
        }

    </script>


    <%- include("../partials/userFooter") %>